<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2016 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chatbot.mapper.ShopMapper">

        <insert id="insertOrder"  parameterType="Producet">
            INSERT into tbl_order(
                ProductNo,BotUserId,ProductName
                ,ProductImg,ProductPrict,
                OrderPrice,OrderName
                ,OrderPhone,OrderStatus
                ,ReservrDate,OrderDate
            )values(
                    #{ProductNo},#{BotUserId},#{ProductName}
                   ,#{ProductImg},#{ProductPrict}
                   ,#{OrderPrice},#{OrderName}
                   ,#{OrderPhone},#{OrderStatus}
                   ,#{ReservrDate},NOW()
                    )
        </insert>

        <select id="selectOrder" parameterType="Paging" resultType="Producet">
            SELECT OrderNo,ProductNo,BotUserId,ProductName
                 ,ProductImg,ProductPrict,
                OrderPrice,OrderName
                 ,OrderPhone,OrderStatus
                 ,ReservrDate,OrderDate
            From tbl_order
            where BotUserId = #{BotUserId} and OrderStatus =01 or OrderStatus =03
                LIMIT #{pageSize } OFFSET #{startPage}
        </select>

        <update id="updateOrder" parameterType="Producet">
            update tbl_order
            set  OrderStatus = #{OrderStatus}
            where BotUserId = #{BotUserId} and OrderNo=#{OrderNo}
        </update>

    <select id="countOrder" parameterType="String" resultType="Integer">
        SELECT count(*)
        From tbl_order
        where BotUserId = #{BotUserId}

    </select>

    <insert id="insertProduct" parameterType="Producet">
        INSERT into tbl_product(ProductNo,ProductName,ProductPrict,OrderPrice,DiscountPrice,ProductImg)
        values ( #{ProductNo},#{ProductName},#{ProductPrict}
                ,#{OrderPrice},#{DiscountPrice},#{ProductImg})
    </insert>

    <select id="selectProduct" parameterType="Paging" resultType="Producet">
        SELECT ProductNo,ProductName,ProductPrict,ProductImg,OrderPrice,DiscountPrice
        From tbl_product
            LIMIT #{pageSize} OFFSET #{startPage}
    </select>

    <select id="countProduct"  resultType="Integer">
        SELECT count(*)
        From tbl_product
    </select>
</mapper>


